body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 10px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    justify-content: center; /* Alinha verticalmente */
    align-items: center; /* Alinha horizontalmente */
}

header {
    background-color: #1C2D3B;
    color: #fff;
    padding: 10px;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1C2D3B;
    padding: 1rem;
}

.ativo { 
    background: linear-gradient(to right, #EA0044 30%, transparent 30%);
    background-color: #EA0044;
    padding: 0.4em;
    border-radius: 2rem;
    font-weight: 700;
}

.menu-item {
    text-align: center;
    border-radius: 2rem;
    margin: 0.5em;
    text-decoration: none;
    color: white;
}

.corpo-item {
    text-align: center;
    border-radius: 2rem;
    margin: 0.8em;
    text-decoration: none;
    color: black;
}

.titulo {
    text-align: center;
    border-radius: 2rem;
    margin: 0.6em;
    text-decoration: none;
    color: red;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1c2d3b;
    background-image: linear-gradient(180deg, #1c2d3b 0%, #000000 100%);
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #fff;
    width: 100%;
}

.rodape {
    display: flex;
    align-items: center;
    justify-content: center;
}

.rodape img {
    width: 10%;
}

.rodape-contato {
    margin-left: 4rem;
}

.navbar img {
    width: 15%;
}

h2.titulo2 {
    color: white;
}

.Contato {
    background: #141414;
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 0;
}

form input, form textarea {
    margin-bottom: 50px;
    padding: 30px;
}

@media only screen and (max-width: 600px) {

    a {
        font-size: x-small;
    }

}